.main-logo{
    display:flex;
    justify-content: center;
    align-items: center;
    margin: 26px 0 16px 0;
}

.main-filters{
    position: relative;
}

.character-filter:nth-child(1)::before{
    position: absolute;
    top: 15px;
    left: 8px;
    right: 0;
    bottom: 25px;
    content: '';
    background: url('../img/Lupa-icon.png');
    background-size: 24px 24px;
    width: 24px;
    height: 24px;
}
.character-filter:nth-child(2)::after{
    background: url('../img/arrow-drop-down.png');
    content: '';
    position: absolute;
    top: 15px;
    left: 460px;
    width: 24px;
    height: 24px;
}
.character-filter:nth-child(3)::after{
    background: url('../img/arrow-drop-down.png');
    content: '';
    position: absolute;
    top: 15px;
    right: 272px;
    width: 24px;
    height: 24px;
}
.character-filter:nth-child(4)::after{
    background: url('../img/arrow-drop-down.png');
    content: '';
    position: absolute;
    top: 15px;
    right: 13px;
    width: 24px;
    height: 24px;
}
.main-cards{
    margin: 61px 0 48px 0;
}
.card{
    width: 240px;
    height: 244px;
    border-radius: 4px;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2), 0px 3px 4px rgba(0, 0, 0, 0.12), 0px 2px 4px rgba(0, 0, 0, 0.14);
}
.card:nth-child(2n){
    margin-top: 24px;
}
.card-image{
    height: 168px;
}
.image{
    height: 100%;
    width: 100%;
}
.card-text{
    height: 76px;
    padding: 12px 16px;
}
.card-text__name{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.15px;
    color: rgba(0, 0, 0, 0.87);
}
.card-text__type{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0.25px;
    color: rgba(0, 0, 0, 0.6);
}
.button-holder{
    display: flex;
    justify-content: center;
    align-items: center;
}
