.series-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.series-text__name{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 208px;
    height: 60px;
    font-family: 'Roboto';
    font-style: normal;
    text-align: center;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
}
.series-text__date{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.25px;
    color: rgba(0, 0, 0, 0.6);
}
.series-text__number{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.25px;
    color: rgba(0, 0, 0, 0.6);
}

.series-text{
    margin: 25px 16px;
}
.tablet.series{
    display: flex;
    justify-content: center;
    align-items: center;
}
.col-3 .tablet:nth-child(2){
    margin: 24px 0;
}
.button-holder{
    margin-top: 48px;
}
.main-container.episodes{
    height: 904px;
}
.main-filters{
    position: relative;
}
.episodes-filter::before{
    background: url('../img/Lupa-icon.png');
    content: '';
    position: absolute;
    top: 15px;
    left: 275px;
    width: 24px;
    height: 24px;
}
.big-episodes-filter{
    width: 500px;
    height: 56px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    border: 1px grey solid;
    padding: 16px 16px 16px 48px;
}