.header.location{
    width: 1440px;
    position: fixed;
    margin: 0 auto;
    top: 0;
    z-index: 5;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.main-tablets{
    height: auto;
    margin: 61px 0 48px 0;
}
.header:before{
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    z-index: 3;
    background-color: #FFFFFF;
}
.global-wrapper.location{
    height: auto;
}
.main-logo{
    display:flex;
    justify-content: center;
    align-items: center;
    margin: 60px 0 16px 0;
}
.main-filters{
    position: relative;
}
.global-filter{
    appearance: none;
}
.main-container.location{
    height: auto;
}
.global-location-filter{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: rgba(0, 0, 0, 0.5);
    padding: 18px 14px;
    width: 326px;
    height: 56px;
    border-radius: 9px;
    border-color: #00000099
}

.big-global-filter{
    width: 326px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: rgba(0, 0, 0, 0.5);
    padding: 18px 14px 18px 34px;
    height: 56px;
    border-radius: 9px;
    border: 1px grey solid;

}
.big-location-filter::before{
    position: absolute;
    top: 15px;
    left: 95px;
    right: 0;
    bottom: 1px;
    content: '';
    background: url('../img/Lupa-icon.png');
    background-size: 24px 24px;
    width: 24px;
    height: 24px;
}
.location-filter:nth-child(n)::after{
    background: url('../img/arrow-drop-down.png');
    content: '';
    position: absolute;
    top: 15px;
    right: 0;
    left: 630px;
    bottom: 0;
    width: 24px;
    height: 24px;
}
.location-filter:nth-child(2n)::after{
    background: url('../img/arrow-drop-down.png');
    content: '';
    position: absolute;
    top: 15px;
    right: 0;
    left: 895px;
    bottom: 0;
    width: 24px;
    height: 24px;
}

.button-holder{
    display: flex;
    justify-content: center;
    align-items: center;
}
.button-area{
    margin-top: 50px;
}
.tablet-text{
    padding: 23px 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.tablet.bio:hover{
    background-color: #4BAABE;
    transition: 0.6s ease all;
}
.header__burger{
    display: none;
}
.header__burger.active:before{
    transform:rotate(45deg);
    top: 9px;
    transition: 0.6s ease all;
}
.header__burger.active span{
    transform: scale(0);
    transition: 0.6s ease all;
}
.header__burger.active:after{
    transition: 0.6s ease all;
    transform:rotate(-45deg);
    bottom: 9px;
}
.tablet-text__name{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    height: 60px;
    line-height: 30px;
    text-align: center;
    letter-spacing: 0.15px;
    color: rgba(0, 0, 0, 0.87);
}
.tablet-text__type{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.25px;
    color: rgba(0, 0, 0, 0.6);
}
.col-3 .tablet:nth-child(2){
    margin: 24px 0;
}

@media (max-width: 1439px) {
    .header.location{
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        padding: 0 40px;
    }
    .global-wrapper.location{
        width: 1020px;
        height: auto;
    }
    .header:before{
        background-color: #FFFFFF;
    }
}
@media (max-width: 993px){
    .col-3 {
        flex: 0 0 auto;
        width: 50%;
    }
    .main-tablets{
        margin-left: 150px;
    }
    .button-area{
        margin: 50px 0 20px 50px
    }
    .location-filter:nth-child(odd){
        margin: 30px 0 15px 370px;
    }
    .location-filter:nth-last-child(2n){
        margin: -70px 50px 15px 0;
    }
    .big-location-filter{
        margin-left: 80px;
    }
    .main-logo{
        margin: 60px 130px 16px 30px;
    }
}
@media (max-width: 767px) {
    .header__burger {
        display: block;
        position: relative;
        width: 30px;
        height: 20px;
        position: relative;
        z-index: 3;
        transition: 0.6s ease all;
    }
    .main-logo{
        margin: 60px 230px 16px 30px;
    }
    .big-location-filter::before{
        position: absolute;
        top: 15px;
        left: 40px;
        right: 0;
        bottom: 1px;
        content: '';
        background: url('../img/Lupa-icon.png');
        background-size: 24px 24px;
        width: 24px;
        height: 24px;
    }
    .big-location-filter{
        margin-left: 30px;
        margin-bottom: 15px;
    }
    .local-wrapper{
        min-width: 100%;
    }
    .header__burger:before,
    .header__burger:after{
        content: '';
        background-color: #000000;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        transition: 0.6s ease all;
    }
    .col-3.global-filter-area{
        margin: 0 0 15px 60px;
    }
    .col-4 .global-filter-area{
        margin: 0 0 15px 160px;
    }
    .col-4 {
        width: 100%;
    }

    .header__burger:before{
        top: 0;
    }
    .header__burger:after{
        bottom: 0;
    }
    .header__burger span{
        background-color: #000000;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        top: 9px;
        transition: 0.6s ease all;
    }
    .navigation.location{
        display: block;
        position: fixed;
        top: -100%;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #FFFFFF;
        transition: 1s ease all;
    }
    .button-area{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 500px;
        margin: 50px 0 20px 0;
    }

}
@media (max-width: 580px) {

    .global-wrapper.location {
        width: 320px;
        height: auto;
    }
    .main-tablets {
         margin-left: 0;
    }
    .col-3, .col-4 {
        margin-left: 60px;
    }

    .main-filters.container {
        width: 320px;
        margin: 0 auto;
    }

    .main-cards.container {
        width: 320px;
    }

    .character-filter {
        margin-bottom: 0;
    }

    .local-wrapper {
        width: 320px;
    }

    .row {
        width: 20px;
    }

    .main-tablets.location {
        width: 320px;
    }

    .global-filter-area {
        margin-bottom: 15px;
    }

    .big-global-filter {
        width: 240px;
    }

    .main-logo {
        min-width: 312px;
        min-height: 104px;
    }

    .button-area {
        margin-left: 20px;
        width: 230px;
    }
    .pagination{
        margin: 0 15px;
    }
    .big-location-filter::before{
        position: absolute;
        top: 15px;
        left: 69px;
        right: 0;
        bottom: 1px;
        content: '';
        background: url('../img/Lupa-icon.png');
        background-size: 24px 24px;
        width: 24px;
        height: 24px;
    }
}